<main>
  <section class="total">
    <p>三人麻雀(通算)</p>
    <table class="mahjong3">
      <tr>
        <th>氏名</th>
        <th>1位</th>
        <th>2位</th>
        <th>3位</th>
        <th>―</th>
        <th>勝率</th>
        <th>平均順位</th>
        <th>収支</th>
      </tr>
      <tr>
        <td>田中</td>
        <td>{{ record_three[0].tanaka1 }}</td>
        <td>{{ record_three[0].tanaka2 }}</td>
        <td>{{ record_three[0].tanaka3 }}</td>
        <td></td>
        <td>{{ record_three_win.tanaka }}</td>
        <td>{{ record_three_average.tanaka }}</td>
        <td>{{ record_three_money.tanaka }}</td>
      </tr>
      <tr>
        <td>金丸</td>
        <td>{{ record_three[1].kanamaru1 }}</td>
        <td>{{ record_three[1].kanamaru2 }}</td>
        <td>{{ record_three[1].kanamaru3 }}</td>
        <td></td>
        <td>{{ record_three_win.kanamaru }}</td>
        <td>{{ record_three_average.kanamaru }}</td>
        <td>{{ record_three_money.kanamaru }}</td>
      </tr>
      <tr>
        <td>野田</td>
        <td>{{ record_three[2].noda1 }}</td>
        <td>{{ record_three[2].noda2 }}</td>
        <td>{{ record_three[2].noda3 }}</td>
        <td></td>
        <td>{{ record_three_win.noda }}</td>
        <td>{{ record_three_average.noda }}</td>
        <td>{{ record_three_money.noda }}</td>
      </tr>
      <tr>
        <td>朝原</td>
        <td>{{ record_three[3].asahara1 }}</td>
        <td>{{ record_three[3].asahara2 }}</td>
        <td>{{ record_three[3].asahara3 }}</td>
        <td></td>
        <td>{{ record_three_win.asahara }}</td>
        <td>{{ record_three_average.asahara }}</td>
        <td>{{ record_three_money.asahara }}</td>
      </tr>
    </table>
    <p>四人麻雀(通算)</p>
    <table class="mahjong4">
      <tr>
        <th>氏名</th>
        <th>1位</th>
        <th>2位</th>
        <th>3位</th>
        <th>4位</th>
        <th>勝率</th>
        <th>平均順位</th>
        <th>収支</th>
      </tr>
      <tr>
        <td>田中</td>
        <td>{{ record_for[0].tanaka1 }}</td>
        <td>{{ record_for[0].tanaka2 }}</td>
        <td>{{ record_for[0].tanaka3 }}</td>
        <td>{{ record_for[0].tanaka4 }}</td>
        <td>{{ record_for_win.tanaka }}</td>
        <td>{{ record_for_average.tanaka }}</td>
        <td>{{ record_for_money.tanaka }}</td>
      </tr>
      <tr>
        <td>金丸</td>
        <td>{{ record_for[1].kanamaru1 }}</td>
        <td>{{ record_for[1].kanamaru2 }}</td>
        <td>{{ record_for[1].kanamaru3 }}</td>
        <td>{{ record_for[1].kanamaru4 }}</td>
        <td>{{ record_for_win.kanamaru }}</td>
        <td>{{ record_for_average.kanamaru }}</td>
        <td>{{ record_for_money.kanamaru }}</td>
      </tr>
      <tr>
        <td>野田</td>
        <td>{{ record_for[2].noda1 }}</td>
        <td>{{ record_for[2].noda2 }}</td>
        <td>{{ record_for[2].noda3 }}</td>
        <td>{{ record_for[2].noda4 }}</td>
        <td>{{ record_for_win.noda }}</td>
        <td>{{ record_for_average.noda }}</td>
        <td>{{ record_for_money.noda }}</td>
      </tr>
      <tr>
        <td>朝原</td>
        <td>{{ record_for[3].asahara1 }}</td>
        <td>{{ record_for[3].asahara2 }}</td>
        <td>{{ record_for[3].asahara3 }}</td>
        <td>{{ record_for[3].asahara4 }}</td>
        <td>{{ record_for_win.asahara }}</td>
        <td>{{ record_for_average.asahara }}</td>
        <td>{{ record_for_money.asahara }}</td>
      </tr>
    </table>
  </section>
</main>
