<main>
  <section class="total">
    <p>三人麻雀(通算)</p>
    <table class="mahjong3">
      <tr>
        <th>氏名</th>
        <th>1位</th>
        <th>2位</th>
        <th>3位</th>
        <th>―</th>
        <th>収支</th>
        <th>勝率</th>
        <th>平均順位</th>
      </tr>
      <tr>
        <td>田中</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>金丸</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>野田</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>朝原</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <p>四人麻雀(通算)</p>
    <table class="mahjong4">
      <tr>
        <th>氏名</th>
        <th>1位</th>
        <th>2位</th>
        <th>3位</th>
        <th>4位</th>
        <th>収支</th>
        <th>勝率</th>
        <th>平均順位</th>
      </tr>
      <tr>
        <td>田中</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>金丸</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>野田</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>朝原</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </section>
</main>
