<section class="user-btn-area">
  <div>
    <button
      mat-raised-button
      *ngFor="let user of users"
      id="{{ user.id }}"
      class="user-btn"
    >
      <span class="user-name">{{ user.name }}</span>
    </button>
  </div>
</section>
<section class="rank-area">
  <table>
    <thead>
      <tr>
        <th>1位</th>
        <th>2位</th>
        <th>3位</th>
        <th>4位</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
<section class="data-btn-area">
  <button mat-raised-button id="reset" disabled><span>リセット</span></button>
  <button mat-raised-button color="primary" id="send" disabled>
    <span>送信</span>
  </button>
</section>
<section id="fountainG">
  <div id="fountainG_1" class="fountainG"></div>
  <div id="fountainG_2" class="fountainG"></div>
  <div id="fountainG_3" class="fountainG"></div>
  <div id="fountainG_4" class="fountainG"></div>
  <div id="fountainG_5" class="fountainG"></div>
  <div id="fountainG_6" class="fountainG"></div>
</section>
<section class="error-area">
  <p class="error-text">通信に失敗しました；；</p>
</section>
<section class="modal-area">
  <div class="modal">
    <span class="close"></span>
    <p>成績を送信しました。</p>
  </div>
</section>
