<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    (focus)="placeFocus()"
    (blur)="placeBlur()"
  />
</mat-form-field>

<section class="data-table mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="id-area"></th>
      <td mat-cell *matCellDef="let data" class="id-area">{{ data.id }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="date-header">
        日付
      </th>
      <td mat-cell *matCellDef="let data">{{ data.date }}</td>
    </ng-container>
    <ng-container matColumnDef="first">
      <th mat-header-cell *matHeaderCellDef>1位</th>
      <td mat-cell *matCellDef="let data">{{ data.first }}</td>
    </ng-container>
    <ng-container matColumnDef="second">
      <th mat-header-cell *matHeaderCellDef>2位</th>
      <td mat-cell *matCellDef="let data">{{ data.second }}</td>
    </ng-container>
    <ng-container matColumnDef="third">
      <th mat-header-cell *matHeaderCellDef>3位</th>
      <td mat-cell *matCellDef="let data">{{ data.third }}</td>
    </ng-container>
    <ng-container matColumnDef="forth">
      <th mat-header-cell *matHeaderCellDef>4位</th>
      <td mat-cell *matCellDef="let data">{{ data.forth }}</td>
    </ng-container>
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>レート</th>
      <td mat-cell *matCellDef="let data">{{ data.rate }}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let data">
        <button mat-mini-fab color="primary" class="delete-btn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="info"></tr>
    <tr mat-row *matRowDef="let row; columns: info"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 30]"
    showFirstLastButtons
  ></mat-paginator>
</section>

<section class="delete-modal">
  <div class="modal">
    <p>この成績を削除しますか？</p>
    <div class="flex-btn">
      <button mat-raised-button color="warn" class="js-yes" disabled>
        はい
      </button>
      <button mat-raised-button class="js-no">いいえ</button>
    </div>
  </div>
</section>
