//フィルター
mat-form-field{
    display: block;
    width: 676px;
    margin: 48px auto 0;
    font-size: 13px;
    line-height: 30px;
}


//テーブル
.data-table{
    margin: 44px auto 0;
    width: 680px;
    table{
        width: 100%;
    }
    th,td{
        width: 20%;
        text-align: center;
        }
    th{
        font-size: 14px;
    }
    mat-paginator{
        font-size: 12px;
    }
}